<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Services and Activities</h2>
      <p>
        Church services and activities reconnects us to our shared beliefs.
        It reinforces the higher philosophy, meaning, and purpose behind our life and it allows us a safe space
        to connect with God.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Regular Sunday services</a></h4>
        <p class="description">
          As the Church gathers we declare individually and corporately the reality of the gospel.
          We are recalling Christ's work on our behalf. We sing the gospel, pray the gospel, and preach the gospel.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Prayer meeting</a></h4>
        <p class="description">
          When We Pray Together, We Experience God's Presence.
          Matthew 18:20 For where two or three gather together as my followers, I am there among them.
          Ephesians 3:12 Because of Christ and our faith in him,
          we can now come boldly and confidently into God's presence.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Dawn watch</a></h4>
        <p class="description">
          Prayer in the morning is so important because you meet God before you meet the Devil.
          You meet God before you meet the circumstances of life. You talk to God before you talk to many people.
          You fellowship with God before you fellowship with other people
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Daily visitation</a></h4>
        <p class="description">
          Visiting people who have become discouraged because of crises in their lives,
          or because they have received good news, or have not been at church for a few weeks—whatever their situations— after the visit, the pastor will often leave the home encouraged.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-brightness-high"></i></div>
        <h4 class="title"><a href="">Evangelism</a></h4>
        <p class="description">
          Whatever we choose to call it, Jesus instructed us to do it. At its core, the Great Commission,
          evangelism, is sharing the good news of salvation, forgiveness, and grace. Without those things,
          we would all be lost without hope, without a savior, and would have to endure the consequences of sin—death.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="title"><a href="">Baptism</a></h4>
        <p class="description">
          Baptism is significant in that it represents the forgiveness and cleansing from sin
          that comes through faith in Jesus Christ. Baptism publicly acknowledges one's confession of faith
          and belief in the gospel message.
        </p>
      </div>
    </div>
  </div>
</section>
