<div class="homepage">
  <div class="homepage_content">
    <div class="homepage_title text-center text-uppercase">
      <h1 class="display-2 fw-bold">Ekklesia</h1>
      <h1 class="display-2 fw-lighter">Church</h1>
      <%= link_to "See Activities",
        posts_path,
        class: "text-decoration-none btn btn-light btn-lg mt-4 text-capitalize"
      %>
    </div>
  </div>
</div>
