#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background: #040b14;
	overflow-y: auto;

	.profile {
		img {
			margin: 15px auto;
			display: block;
			width: 120px;
			border: 8px solid #2c2f3f;
		}

		h1 {
			font-size: 24px;
			margin: 0;
			padding: 0;
			font-weight: 600;
			-moz-text-align-last: center;
			text-align-last: center;
			font-family: "Poppins", sans-serif;

			a {
				color: $white;
				text-decoration: none;
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}

		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #212431;
				color: $white;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;

				&:hover {
					background: #149ddd;
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
}

.nav-menu {
	padding: 30px 0 0 0;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	>ul {
		>li {
			position: relative;
			white-space: nowrap;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: $light_gray;
		padding: 12px 15px;
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
		&:focus {
			display: flex;
			align-items: center;
			color: $light_gray;
			padding: 12px 15px;
			margin-bottom: 8px;
			transition: 0.3s;
			font-size: 15px;
			i {
				font-size: 24px;
				padding-right: 8px;
				color: $brown;
			}
		}
		i {
			font-size: 24px;
			padding-right: 8px;
			color: $brown;
		}
		&:hover {
			text-decoration: none;
			color: $white;
			i {
				color: $color_capri;
			}
		}
	}
	.active {
		text-decoration: none;
		color: $white;
		&:focus {
			text-decoration: none;
			color: $white;
			i {
				color: $color_capri;
			}
		}
		i {
			color: $color_capri;
		}
	}
	li {
		&:hover {
			>a {
				text-decoration: none;
				color: $white;
				i {
					color: $color_capri;
				}
			}
		}
	}
}
