$light_black: #272829;
$color_capri: #149ddd;
$white: #fff;
$light_gray: #a8a9b4;
$brown: #6f7180;
$dark_blue: #173b6c;
$very_dark_blue: #050d18;
$navy_blue: #122f57;
$very_light_blue: #c3e8fa;

$background-color_capri: #149ddd;
