$color_1: #272829;
$color_2: #149ddd;
$color_3: #37b3ed;
$color_4: #fff;
$color_5: #a8a9b4;
$color_6: #6f7180;
$color_7: #173b6c;
$color_8: #050d18;
$color_9: #122f57;
$color_10: #1f5297;
$color_11: #343a40;
$color_12: #111;
$color_13: #999;
$color_14: #c3e8fa;
$color_15: red;
$color_16: #0e2442;
$color_17: #f4f6fd;
$color_18: #eaebf0;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$background-color_1: #149ddd;
$background-color_2: #fff;
$border-top-color_1: #eee;
