<% if @posts.any? %>
  <h1 class="display-1 text-center font-monospace fw-bold my-3">Posts</h1>
  <span class="hor-divider"></span>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center">
    <span class="display-1">0 posts yet</span>
    <%= link_to "New post", new_post_path, class: "btn btn-primary ms-5 mt-2" if current_user&.admin %>
  </div>
<% end %>
