.post_content {
  min-height: 32.8125rem;
}

.post_image {
  width: 33%;
  height: 25rem;
  margin-bottom: 0.25rem;
  object-fit: cover;
}

.post_featured_image {
  height: 35rem;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .post_image {
    width: 100%;
    height: auto;
  }
}
