<footer class="text-center text-white">
  <div class="text-center p-4 bg-secondary text-white">
    © 2020 Copyright:
    <a class="text-white" href="https://ekklesia.philippinedev.com/">Ekklesia.com</a>
  </div>
</footer>
